* {
    margin: 0;
    padding: 0;
}

.content {
    height: 90vh;
    display: flex;
    justify-content: center;
}

.qna_box {
    width: 1248px;
    height: 100%;
    display: flex;
}

.q_list {
    padding-top: 20px;
    width: 75%;
    max-height: 90vh;
    overflow-y: auto;
}

.q_list::-webkit-scrollbar{
    background-color: transparent;
    width: 6px;
}

.q_list::-webkit-scrollbar-thumb{
    background-color:#babac0;
    border-radius:16px;
}

.q_list::-webkit-scrollbar-thumb:hover{
    background-color:#a0a0a5;
} 

.q_btn {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.question_button {
    margin-top: 50px;
    background-color: #99A799;
    border-radius: 20px;
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question_button p {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}